{% extends "base.html" %}

{% block head %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% block subhead %}{% endblock %}
{% endblock %}
{% block body %}
{% block subbody %}{% endblock %}
    <div class="container">
      <div class="row">
        <div id="{{ plotname }}" class="col-md-12", style="{{ plotstyle }}"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <p class="text-center">Report generated <span id="age">???</span> ago (at {{gen_date}} UTC)</p>
        </div>
        <div class="col-md-12">
            <p class="text-center">{{ data_type }} observed on {{iso_date}} (JD: {{ jd_date }})</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="text-center"><a href="https://github.com/HERA-Team/simple-dashboard">Source code</a></p>
        </div>
      </div>
    </div>
    <script src="{{js_name}}.js"></script>
{% endblock %}
