{% extends "base.html" %}

{% block head %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% block subhead %}{% endblock %}
{% endblock %}
{% block body %}
{% block subbody %}{% endblock %}
    <div class="container">
      <div class="row">
        <div id="{{ plotname }}" class="col-md-12", style="{{ plotstyle }}"></div>
      </div>
    </div>
{% endblock %}
{% block footer %}
      <p class="text-muted text-center"><small><small>Last updated: <span id="age">???</span> ago at {{ now }}<br>
        {{ data_type }} observed on {{data_date}} (JD: {{ data_jd_date }})<br>
        Script location: {{ scriptname }}<br>
        Executing host: {{ hostname }}<br>
        <a href="https://github.com/HERA-Team/simple-dashboard">Source code</a>
      </small></small></p>
    <script src="{{js_name}}.js"></script>
{% endblock %}
