{% extends "base.html" %}

{% block head %}
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% block subhead %}{% endblock %}
{% endblock %}


{% block caption %}
{% if caption is defined %}
<div class="sidebar-header" style="text-align:center;">
  {% if caption.title is defined %}
    <h3>{{ caption["title"] }}</h3>
  {% else %}
      <h3>Page Help</h3>
   {% endif %}
  </div>
  <div class="sidebar-body" style="margin-left: 1.5em; margin-right: 1.5em;">
    <p>
      {{ caption["text"] }}
    </p>
  </div>
{% endif %}
{% endblock %}


{% block body %}
{% block prebody %}{% endblock %}

      {# Want to be able to support a list of names as input #}
      {# if not a list assume a single string as a name #}

      {% if plotname is iterable and plotname is not string %}
      {% for namelist in plotname %}

      <div class="col-md-12" style="height: 84%">
        {# if the first item is a list, make a grid of plots #}
        {# otherwise assume item is a string of a single plot #}
        {% if namelist is iterable and namelist is not string %}
        {% for name in namelist %}

        <div id="{{ name }}" class="col-md-{{ colsize or 6 }}" style="{{ plotstyle or 'height: 85%'}}; max-height: 400em"></div>
        {% endfor %}
        {% else %}
        <div id="{{ namelist }}" class="col-md-{{ colsize or 12 }}" style="{{ plotstyle or 'height: 85%'}}; max-height: 400em"></div>
        {% endif %}

      </div>
      {% endfor %}
      {% else %}

      <div class="col-md-12" style="height: 84%;">
        <div id="{{ plotname }}" class="col-md-{{ colsize or 12 }}" style="{{ plotstyle or 'height: 100%'}}; max-height: 400em"></div>
      </div>
      {% endif %}
      {% block postbody %}{% endblock %}
{% endblock %}

{% block footer %}

      <p class="text-muted text-center"><small><small>
        Last updated: <span id="age">???</span> ago at {{ gen_date }}<br>
        Script name: {{ scriptname }}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Executing host: {{ hostname }}
      </small></small></p>
    <script src="{{js_name}}.js"></script>
{% endblock %}

{% block script %}
{% if data_type is defined %}
<script type='text/javascript'>
let data_age = 0.001 * (Date.now() - {{data_date_unix_ms}});
let data_text = "?";
if (data_age < 300) {
  data_text = data_age.toFixed(0) + " seconds";
} else if (data_age < 10800) { // 3 hours
  data_text = (data_age / 60).toFixed(0) + " minutes";
} else if (data_age < 172800) { // 48 hours
  data_text = (data_age / 3600).toFixed(0) + " hours";
} else {
  data_text = (data_age / 86400).toFixed(1) + " days";
}
document.getElementById("data_age").textContent = data_text;
if (data_age > 1800) {
    document.getElementById("data_age").style.color = 'red';
}
</script>
{% endif %}
{% endblock %}
