{% extends "plotly_base.html" %}

{% block subhead %}
  <script type="text/javascript">
    setInterval(function () { if (document.getElementById('autoRefreshCheckbox').checked) { location.reload(); } }, 60000);
  </script>
{% endblock %}
{% block button %}
<div class="col-1 col-offset-2">
<div class="custom-control">
  <span><b>Auto&nbspRefresh</b></span>
<input type="checkbox" id="autoRefreshCheckbox" value="true" checked="checked">
<label class="custom-control-label" for="autoRefreshCheckbox">
</label>
</div>
</div>
{% endblock %}

{% block postbody %}{% endblock %}
