{% extends "plotly_base.html" %}

{% block subhead %}
  <script type="text/javascript">
    setInterval(function () { if (document.getElementById('autoRefreshCheckbox').checked) { location.reload(); } }, 60000);
  </script>
{% endblock %}
{% block button %}
<div class="custom-control">
<input type="checkbox" id="autoRefreshCheckbox" value="true" checked="checked"/>
<label class="custom-control-label" for="autoRefreshCheckbox">
<span>Auto Refresh</span>
</label>
</div>
{% endblock %}

{% block postbody %}{% endblock %}
