{% extends "plotly_base.html" %}


{% block subhead %}
  <script type="text/javascript">
    setInterval(function () { if (document.getElementById('autoRefreshCheckbox').checked) { location.reload(); } }, 60000);
  </script>
{% endblock %}
{% block prebody %}
<span>Auto Refresh</span>&nbsp;<input type="checkbox" id="autoRefreshCheckbox" value="true" checked="checked" />
{% endblock %}

{% block postbody %}
  {% for table in tables %}
  <h2> {{ table.title }} </h2>
  <div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      {% if table.rows|length > 0 %}
      {% for row in table.rows %}
      <tr>
            <td>{{ row.text }} </td>
      </tr>
      {% endfor %}
      {% endif %}
    </tbody>
  </table>
  </div>
  {% block body %}
    <table class="table">

    </table>
  {% endfor %}
{% endblock %}
