{% extends "base_footer.html" %}

{% block body %}
{% block prebody %}{% endblock %}

    {% for table in tables %}
    <div class="table-responsive col-{{ colsize or 6 }}" {{ table.div_style or '' }}>
      <h2 style="position: -webkit-sticky; position: sticky; top: 0px;background-color: white;"> {{ table.title }} </h2>
    <table class="table table-striped" style="{{ table.style or '' }}">
      <thead>
      <tr>
      {% for head in table.headers %}
      <th class="text-center" style="position: -webkit-sticky; position: sticky; top: 32px;background-color: white;">{{ head }}</th>
      {% endfor %}
      </tr>
      </thead>
      <tbody>
      {% if table.rows|length > 0 %}
      {% for row in table.rows %}
      {% if row.text is iterable and row.text is not string %}
      <tr>
        {% for col in row.text %}
        <td style="vertical-align: middle; {{ row.style or '' }}">{{ col }}
        {% endfor %}
        </td>
      </tr>
      {% else %}
      <tr>
         <td>{{ row.text }}</td>
      </tr>
      {% endif %}
      {% endfor %}
      {% endif %}

      </tbody>
    </table>
    </div>
    {% endfor %}

    {% block postbody %}{% endblock %}

{% endblock %}

{% block footer %}
      {% if data_type is defined %}
      <p class="text-muted text-center">
        <b>{{ data_type }} observed <span id="data_age">???</span> ago ({{data_date_iso}} JD: {{ data_date_jd }})</b><br>
        <small><small>Last updated: <span id="age">???</span> ago at {{ gen_date }}<br>
        Script name: {{ scriptname }}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Executing host: {{ hostname }}
      </small></small></p>
      {% else %}
      <p class="text-muted text-center"><small><small>
        Last updated: <span id="age">???</span> ago at {{ gen_date }}<br>
        Script name: {{ scriptname }}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Executing host: {{ hostname }}
      </small></small></p>
      {% endif %}
    {% if js_name is defined %}
    <script src="{{js_name}}.js"></script>
    {% endif %}
{% endblock %}

{% block script %}
{% if data_type is defined %}
<script type='text/javascript'>
let data_age = 0.001 * (Date.now() - {{data_date_unix_ms}});
let data_text = "?";
if (data_age < 300) {
  data_text = data_age.toFixed(0) + " seconds";
} else if (data_age < 10800) { // 3 hours
  data_text = (data_age / 60).toFixed(0) + " minutes";
} else if (data_age < 172800) { // 48 hours
  data_text = (data_age / 3600).toFixed(0) + " hours";
} else {
  data_text = (data_age / 86400).toFixed(1) + " days";
}
document.getElementById("data_age").textContent = data_text;
if (data_age > 1800) {
    document.getElementById("data_age").style.color = 'red';
}
</script>
{% endif %}
{% endblock %}
